/******************** 
 *  Fonts 
 ********************/
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url("../assets/fonts/static/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  src: url("../assets/fonts/static/Inter-Bold.woff") format("woff");
}
/******************** 
 *  Global Variables 
 ********************/

:root {
/* Colors */

--Soft-orange: hsl(35, 77%, 62%);
--Soft-red: hsl(5, 85%, 63%);

--Off-white: hsl(36, 100%, 99%);
--Grayish-blue: hsl(233, 8%, 79%);
--Dark-grayish-blue: hsl(236, 13%, 42%);
--Very-dark-blue: hsl(240, 100%, 5%);
  /* topography */


  --ff-body : "Inter", sans-serif;
  --fw-regular: 400;
}

/******************** 
 * General Reset 
 ********************/
*,*::after,*::before {
    box-sizing: border-box;
    margin: unset;
    padding: unset;
}

img, picture {
    display: block;
    max-width: 100%;
    line-height: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
/******************** 
 * Body 
 ********************/

body {
  font-family: var(--ff-body);
  background-color: var(--Off-white);
  color: var(--Very-dark-blue);
  min-height: 100vh;
}

/******************** 
 * Utilites 
 ********************/
.wrapper {
    max-width: 75rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

.sr-only {
    display: none;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: hsl(240, 100%, 5%);
    font-size: 1rem;
    text-transform: capitalize;
    transition: color 200ms ease-in-out;
}
.nav-link:hover, .nav-link:focus-visible {
  color: var(--Soft-red);
}


.main-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
  column-gap: 1.25rem;
  row-gap: 2rem;
}

/******************** 
 * intro 
 ********************/

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.75rem;
}

.intro-img {
  grid-column: 1 / -1;
}

.page-title {
  font-weight: 800;
  max-width: 22ch;
  font-size: 1.7rem;
  line-height: 1;
}

.intro-content {
  display: grid;
  gap: .5rem;
  color: var(--Dark-grayish-blue);
}

.intro-content a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .3rem .9rem;
  background-color: var(--Soft-red);
  color: var(--Off-white);
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 70%;
  transition: background-color 200ms ease-in-out;
}
.intro-content a:hover ,.intro-content a:focus-visible {
  background-color: var(--Very-dark-blue);
}
/******************** 
 * aside 
 ********************/
.aside {
  background-color: var(--Very-dark-blue);
  padding: 1rem 1.6rem;
  display: grid;
}

.aside > h2 {
  color: var(--Soft-orange);
  font-size: 2.3rem;
}

.aside ul {
  margin-block: 1rem;
  display: grid;
  gap: 2rem;
}
.aside a {
  color: var(--Off-white);
  display: inline-block;
  padding-block-end: .75rem;
  font-size: 1.1rem;
  transition: color 200ms ease-in-out;
}

.aside a:hover, .aside a:focus-visible {
  color: var(--Soft-orange);
}
.aside p {
  color: var(--Dark-grayish-blue);
}

.last-news {
  grid-column: 1 / -1;
}
.last-news > ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.news-item {
  display: flex;
  align-items: center;
  gap: .75rem;
}

.news-item-img {
  width: 8rem;
}

.news-item-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: .75rem;
}

.news-item-content > span {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--Grayish-blue);
}


.news-item-content > a {
  font-weight: 800;
  font-size: 1.2rem;
}

.news-item-content > p {
  max-width: 30ch;
  color: var(--Dark-grayish-blue);
}




.attribution {
  text-align: center;
  padding: 3rem;
  margin-block: 2rem;
}
